<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>

    <table>
        <thead>
        <tr>
            <th>Customer ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>

        <tbody>
        {{#each customers}}
            <tr>
                <td>{{ this.CUSTOMER_ID }}</td>
                <td>{{ this.NAME }}</td>
                <td>{{ this.EMAIL }}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>


    </body>
</html>