<div ng-repeat="c in listCtrl.customers">
    <!--if you put hash, it will just change on client side, if not will go to server-->
    <a href="#/customer/{{c.CUSTOMER_ID}}">
        {{ c.NAME }} - {{ c.EMAIL }}
    </a>

</div>